/* 노란 버튼 - 확인, 조회, 검색, 수정, 등록, 저장, 승인, 닫기, 이동(뒤로가기)*/
.yellow-btn {
    background-color: #FFEEAA !important;
    border-color: #FFEEAA !important;
    color: #000;
    border-radius: 7px;
}

.yellow-btn:hover {
    background-color: #f2da84 !important;
    border-color: #f2da84 !important;
}
.yellow-btn:active {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(252, 242, 201, 0.5) !important;
}

/*하얀 버튼 - 취소, 초기화, 토글 미선택*/
.white-btn {
    background-color: #ffffff !important;
    border-color: #6c757d !important;
    color: #6c757d;
    border-radius: 7px; 
}

.white-btn:hover {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    color: #ffffff;
    border-radius: 7px; 

}

.white-btn:active {
  box-shadow: 0 0 0 0.2rem rgba(167, 166, 166, 0.5);
}

/*빨간 버튼 - 반려, 삭제*/
.red-btn {
  color: #dc3545;
  border-color: #dc3545;
  background-color: transparent;
  border-radius: 7px; 
}

.red-btn:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.red-btn:active {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

/*토글*/
.toggle-group {
  display: inline-flex;
  gap: 8px;
}

.toggle-btn {
  padding: 8px 16px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;

  background-color: #fff;
  color: #000;
  border: 1px solid #000;

  cursor: pointer;
  transition: all 0.2s ease;
}

.toggle-btn.active {
  background-color: #000;
  color: #fff;
}

.toggle-btn:hover {
  background-color: #f5f5f5;
}

.toggle-btn.active:hover {
  background-color: #000;
}

.toggle-btn:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
}